/* NAVBAR STYLING */

* {
  margin: 0;
}

.link-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

nav {
  background-color: rgb(199, 83, 41);
  padding: 10px 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #555;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 5px 0;
  }

  li {
    display: block;
    margin: 10px 0;
  }
}



/* LOGIN STYLLING */
/* index.css */
.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .auth-container {
    padding: 10px;
  }

  input[type="email"],
  input[type="password"],
  button {
    padding: 8px;
  }
}

/* REGISTRATION STYLLING */
/* + */
/* update user */

.auth-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



/* FOOTER STYKLING */
.footer {
  background-color: rgb(199, 83, 41);
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}






/* PAGE NOT FOUND STYLING */
/* index.css */
.not-found-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

h2 {
  color: #d9534f;
}

p {
  color: #333;
}

@media only screen and (max-width: 600px) {
  .not-found-container {
    padding: 10px;
  }
}

/* ERROR STYLING */
.error-message {
  color: red;
  text-align: center;
}





/*USER MANAGEMENT PAGE*/
.user-management-container {
  max-width: 800px;
  margin: 0px auto 60px auto;
  padding: 20px;

}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f2f2f2;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reg-button {
  padding: 15px;
  margin: 10px auto;
}

button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: rgb(255, 9, 9);
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}


/**PROFILE STYLING"
  /* index.css */

.profile-page-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
}

.profile-page-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profile-page-container p {
  margin-bottom: 10px;
  font-size: 16px;
}

.profile-page-container button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 2px solid #008CBA;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.profile-page-container button:hover {
  background-color: #008CBA;
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}






/* Improved Master Course Container */
.master-course-container {
  max-width: 1000px;
  margin: 20px auto 60px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Centers cards with space around them */
}

.progress-card-style {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  /* Ensures nothing spills out */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  /* Organizes content vertically */
  justify-content: space-between;
  /* Distributes space between content and button */
}

.progress-card-content {
  padding: 15px;
  flex: 1;
  /* Allows content to expand and fill available space */
}

.card-buttons {
  margin-top: 10px;
  /* Adds space above the buttons */
  padding: 10px;
  text-align: center;
  /* Centers the buttons */
  background-color: #f9f9f9;
  /* Light background for the button area */
  border-top: 1px solid #eee;
  /* Adds a subtle separation line */
}

.continue-course-button {
  padding: 10px 20px;
  font-size: 14px;
  background: linear-gradient(to right, #4CAF50, #8BC34A);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
  /* Add some space above the button */
}

.continue-course-button:hover {
  background: linear-gradient(to right, #8BC34A, #4CAF50);
}

/* Adjusting button sizes for better fit */
.link-button,
.button {
  width: auto;
  /* Auto width based on text size */
  padding: 8px 16px;
  /* Smaller padding */
  font-size: 14px;
  /* Smaller font size for text inside buttons */
  margin: 0 5px;
  /* Space between buttons if multiple */
}


.link-button:hover,
.button:hover {
  background-color: #0056b3;
}

/* General Text Styles */
h5 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
}


.card {
  /* Add shadows to create the "card" effect */
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ddd;
  padding: 10px;
  margin: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}



.card-style {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
}

.card-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-style {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

.card-content {
  padding: 15px;
  height: 90px;
  text-overflow: ellipsis;
}

.card-grid {
  margin: auto;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card-image-style {
  display: block;
}

.progress-reports-title,
.course-heading {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.course-heading {
  margin-top: 30px;
}


/**Course Pages STYLING"
  /* index.css */

.course-page-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
}





.question-style {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
}

.question-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.question-style {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

.question-content {
  padding: 15px;
  height: 90px;
  text-overflow: ellipsis;
}

.question-grid {
  padding: 10px;
  border: 1px solid black;
  border-color: #008CBA;
  margin: auto;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.question-image-style {
  display: block;
}

.question-label {
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

.answer-submit-button {
  color: black;
  font-weight: bold;
  display: block;
  max-width: 300px;
  margin-bottom: 10px;
  font-size: 30px;
}





.card-attempted {
  /* Add shadows to create the "card" effect */
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ddd;
  padding: 10px;
  margin: auto;
}

/* On mouse-over, add a deeper shadow */
.card-attempted:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


.card-attempted-style {
  background-color: #66A5AD;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
}

.card-attempted-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-attempted-bottom {
  margin: auto;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #C4DFE6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
}

.image-attempted-style {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

.card-attempted-content {
  padding: 15px;
  height: 90px;
  text-overflow: ellipsis;
}

.card-attempted-grid {
  margin: auto;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card-attempted-image-style {
  display: block;
}

.horizontal-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}


/*added later------------------------------------------------------*/
.course-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.course-card:hover {
  transform: scale(1.05);
}

.course-image {
  width: 100%;
  height: auto;
}

.course-content {
  padding: 15px;
}

.course-actions {
  display: flex;
  flex-direction: column;
  /* Stack the buttons vertically */
  align-items: stretch;
  /* Make the buttons take up the full width */
  gap: 10px;
  /* Add some space between the buttons */
}

.btn-continue,
.btn-unenroll {
  border: none;
  color: white;
  padding: 10px 20px;
  /* Adjusted padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* Adjusted font size */
  transition: 0.3s;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-continue {
  background: linear-gradient(to right, #4CAF50, #8BC34A);
  box-shadow: 0 4px 15px 0 rgba(76, 175, 80, 0.35);
}

.btn-continue:hover {
  box-shadow: 0 5px 15px 0 rgba(76, 175, 80, 0.5);
  background: linear-gradient(to right, #8BC34A, #4CAF50);
}

.btn-unenroll {
  background: linear-gradient(to right, #f44336, #e91e63);
  box-shadow: 0 4px 15px 0 rgba(244, 67, 54, 0.35);
}

.btn-unenroll:hover {
  box-shadow: 0 5px 15px 0 rgba(244, 67, 54, 0.5);
  background: linear-gradient(to right, #e91e63, #f44336);
}

.progress-card-style {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
  width: 350px;
  /* Adjust as needed */
}

.progress-card-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.progress-image-style {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

.progress-card-content {
  padding: 15px;
  height: 350px;
  text-overflow: ellipsis;
}

.progress-card-grid {
  margin: auto;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.progress-card-image-style {
  display: block;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-item.spaced {
  margin-right: 20px;
  /* Adjust as needed */
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-item a:hover {
  background-color: #111;
}

.navbar-icon {
   margin-right: 10px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.profile-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust as needed */
}

.profile-card {
  width: 300px;
  /* Adjust as needed */
  padding: 20px;
  /* Adjust as needed */
  border-radius: 10px;
  /* Adjust as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Adjust as needed */
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.profile-info-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.profile-update-button {
  background-color: #4CAF50;
  /* Adjust as needed */
  color: white;
  /* Adjust as needed */
  border: none;
  padding: 10px 20px;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* Adjust as needed */
  margin: 4px 2px;
  /* Adjust as needed */
  transition-duration: 0.4s;
  /* Adjust as needed */
  cursor: pointer;
}

.profile-update-button:hover {
  background-color: #45a049;
  /* Adjust as needed */
  color: white;
}
.nav-link:hover {
      color: white !important;
    }
.logo { 
  height: 48px;
width: 48px; 
}

